 * { outline:none; }

 body
 {
background:transparent;
font-family: 'Quintessential', cursive;
}

#wrapper
{
width:600px;
height:450px;
background:#000;
overflow:hidden;
position:relative;
}

#cardwrapper
{
display:none;
}

.flake
{
width:8px;
height:8px;
position:absolute;
top:-10px;
left:0px;
}

.flake img
{
width:100%;
height:100%;
}

.sprite
{
position:absolute;
display:none;
}

#day, #night
{
top:0px;
left:0px;
}

#day
{
display:block;
}

#message1a
{
width:450px;
text-align:right;
right:5px;
top:5px;
font-size:20px;
line-height:1.5;
color:#000;
display:none;
}
#message1b
{
width:450px;
text-align:right;
right:5px;
top:35px;
font-size:20px;
line-height:1.5;
color:#000;
display:none;
}

#message2
{
width:350px;
text-align:left;
left:150px;
bottom:35px;
font-size:24px;
line-height:1.5;
color:#fff;
display:none;
}

#message2 span
{
font-size:16px;
}

#pathlights
{
left:0px;
bottom:0px;
}

#houselights1,#houselights2,#houselights3
{
left:160px;
top:179px;
}

#replay
{
position:absolute;
bottom:10px;
right:15px;
color:#ccc;
font-size:9px;
cursor:pointer;
display:none;
}